{{define "title"}}Login{{end}}
{{define "main"}}


<!-- Search Bar  |  Hero Section -->
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h2>Welcome to the Community Forum</h2>
      <p>Find answers, share ideas, and connect with others!</p>
      <div class="search-bar">
        <input type="text" placeholder="Search threads, categories..." />
        <button>Search</button>
      </div>
    </div>
  </div>
</section>


<form action='/user/login' method='POST'>
  {{range .Form.NonFieldErrors}}
  <div class='error'>{{.}}</div>
  {{end}}

  <div>
    <label>Email:</label>
    {{with .Form.FieldErrors.email}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='email' name='email' value='{{.Form.Email}}'>
  </div>

  <div>
    <label>Password:</label>
    {{with .Form.FieldErrors.password}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='password'>
  </div>

  <div>
    <input type='submit' value='Login'>
  </div>
</form>

{{end}}